
@font-face {
    font-family: gameFont;
    src: url(fonts/Mecha_Condensed.woff);
}

@font-face {
    font-family: gameFontBold;
    src: url(fonts/Mecha_Condensed_Bold.woff);
}

body {
    margin: 0;
    padding: 0;
    background-color: #AAAAAA;
}
